body{
    background-color: azure;    
}

header{
    background-color: white;
    box-shadow: 0 0 8px gray;
}

nav{
    text-align: center;
    }
    nav ul{
    margin: 0 ;
    padding: 0 ;
    }
    nav li{
    list-style: none;
    display: inline-block;
    width: 20%;
    min-width: 90px;
    }
    nav li:not(:last-child){
    border-right:2px solid #ddd;
    }
    nav a{
    text-decoration: none;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    }

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700; /* 太字 */
    font-style: italic; /* イタリック体 */
    font-size: 20px;
    margin-top: px;
    margin-left: 100px;
}


h2{
    font-size: 25px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 2px gray;
    margin-left: 365px;
    margin-right: 365px;
    margin-bottom: 0cap;
    padding: 10px;
    line-height: 1.7;
}

.a{
    font-size: 12px;
    font-weight: 10;
}

.containar{
    text-align: center;
}

.responsive-media {
            width: 70%;
            height: auto;
        }

        /* 画面幅が768px以下のとき */
        @media (max-width: 768px) {
            .responsive-media {
                width: 50%; /* 画面幅が768px以下の場合、幅を50%に */
            }
        }

        /* 画面幅が480px以下のとき */
        @media (max-width: 480px) {
            .responsive-media {
                width: 100px; /* 画面幅が480px以下の場合、幅を100pxに */
            }
        }

h3{
    font-size: 17px;
    font-weight: 300;
    margin-top: px;
    background-color: white;
    box-shadow: 0 0 2px gray;
    margin-left: 365px;
    margin-right: 365px;
    margin-bottom: 0cap;
    padding: 10px;
    line-height: 1.7;    
}

.b{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    line-height: 2.3;
    background-color: rgb(252, 150, 16);
    border-radius: 5px;
    border: 1px solid blue
}

li{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    list-style: none;
}
